{%  extends 'base.html.twig' %}

{% block body %}

        <h2>{{ article.title }} <small>{{ article.category.name }}</small></h2>
        <p>{{ article.content }}</p>
        <strong>Tags :</strong>
        <ul>
            {% for tag in tags %}
                <a href="/tag/{{ tag.id }}"><li>{{ tag.name }} </li></a>
            {% else %}
                <li>No tags for this article</li>
            {% endfor %}
        </ul>

{% endblock %}